body{
    /*background-color:black;*/
}

.header{
    align-items: center;
    text-align: center;
    child-align: middle;
}
.playingfield{
    width: 50%;
    height:0;
    padding-top: 50%; /*for fixed ascpect ratio*/
    position:relative;
    /*align-items: center;*/
    text-align: center;
    /*child-align: middle;*/
    vertical-align: middle;
    margin-top:10px;
    margin-left: auto;
    margin-right:auto;
    /*background-image: url("/images/backgroundTable.png");*/
    /*background-size: cover;*/
    background-color:saddlebrown;
}

table {
    table-layout: fixed;
    position:absolute; /*nodig omwille van parent fixed aspect*/
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*background-image: url("/images/backgroundTable.png");*/
    /*background-size: cover;*/
    /*background-color: saddlebrown;*/

}

table th{
    border: 1px solid black;
    background-color: dimgray;
    color:white;
    text-align: center;
}

table tr{
    /*height: 50px;*/
    /*overflow: hidden;*/
}

table td {
    position: relative;
    /*width: 50px;*/
    /*height: 50px;*/
    resize:both;
    text-align: center;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}

table td > img {
    width: 80%;
    height:80%;
    vertical-align: middle;
    /*resize:both;*/
    /*overflow: hidden;*/
}


table tr:nth-child(odd) td:nth-child(odd) {
    background-color: #F2F2E4;
}

table tr:nth-child(odd) td:nth-child(even) {
    background-color: #E6E6C8;
}

table tr:nth-child(even) td:nth-child(odd) {
    background-color: #E6E6C8;
}

table tr:nth-child(even) td:nth-child(even) {
    background-color: #F2F2E4;
}

dl dt{
    margin-top: 10px;
}
dl dd{
    font-weight:bold;
    margin:0;
}

.errors{
    color:red;
    font-weight: bold;
}



