<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <title>Terrarium</title>
    <link rel="stylesheet" th:href="@{/css/terrarium.css}">
    <script>
        var nextState = function () {document.getElementById("nextState").click();};
        (window.onload = function(){
            if(localStorage.getItem("playing")){
                play();
                let playElement = document.getElementById("play");
                playElement.style.display="none";
            }
            else{
                let pauseElement = document.getElementById("pause");
                pauseElement.style.display="none";
                console.log("pause element not showing?")
            }
        })();
        function play(){
            i = setInterval(nextState, 1000);
            localStorage.setItem("playing","true");
        }
        function pause(){
            localStorage.removeItem("playing");
            clearInterval(i);
        };
    </script>
</head>

<body>

<div class="header">

    <h1 th:text="|Terrarium: day ${day}|"></h1>

    <a th:href="@{/terrarium/previousDay}"><img th:src="@{/images/previousDay.png}" alt="Next day"></a>
    <a th:href="@{/terrarium/previousState}"><img th:src="@{/images/previousState.png}" alt="Next state"></a>

    <a id="play" onclick="play()"><img th:src="@{/images/play.png}" alt="Play"></a>
    <a id="pause" onclick="pause()"><img th:src="@{/images/pause.png}" alt="Pause" ></a>

    <a th:href="@{/terrarium/nextState}" id="nextState"><img th:src="@{/images/nextState.png}" alt="Next state"></a>
    <a th:href="@{/terrarium/nextDay}"><img th:src="@{/images/nextDay.png}" alt="Next day"></a>

    <a th:href="@{/terrarium/reset}"><img th:src="@{/images/reset.png}" alt="Reset"></a>

    <br><br>

</div>


    <div class="playingfield">



        <table th:object="${organismRows}">

            <tr th:each="organismRow:${organismRows}">
                <td th:each="organism:${organismRow}">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Herbivore)&& organism.getLifeForce() < 20}"
                         th:src="@{/images/babyDeer.png}" alt="H">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Herbivore)&& organism.getLifeForce() >= 20 && organism.getLifeForce() < 30}"
                         th:src="@{/images/teenageDeer.png}" alt="H">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Herbivore)&& organism.getLifeForce() >= 30}"
                         th:src="@{/images/adultDeer.png}" alt="H">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Carnivore) && organism.getLifeForce() < 20}"
                         th:src="@{/images/babyTiger.png}" alt="C">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Carnivore) &&organism.getLifeForce() >= 20 && organism.getLifeForce() < 30}"
                         th:src="@{/images/teenageTiger.png}" alt="C">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Carnivore) && organism.getLifeForce() >= 30}"
                         th:src="@{/images/tigerSprite.png}" alt="C">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Omnivore) && organism.getLifeForce() < 20}"
                         th:src="@{/images/babyBear.png}" alt="O">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Omnivore) &&organism.getLifeForce() >= 20 && organism.getLifeForce() < 30}"
                         th:src="@{/images/teenageBear.png}" alt="O">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Omnivore) && organism.getLifeForce() >= 30}"
                         th:src="@{/images/adultBear.png}" alt="O">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Plant) && organism.getLifeForce()>0}"
                         th:src="@{/images/shrub.png}" alt="P">
                    <img th:if="${organism instanceof T(be.vdab.TerrariumWeb.domain.Plant) && organism.getLifeForce()==0}"
                         th:src="@{/images/nothing.png}" alt="P">

                </td>
            </tr>

        </table>

    </div>


</body>

</html>