<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <title>Terrarium</title>
    <link rel="stylesheet" th:href="@{/css/terrarium.css}">
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <script>
        var nextState = function () {document.getElementById("nextState").click();};
        (window.onload = function(){
            if(localStorage.getItem("playing")){
                play();
                console.log;
                // let playElement = document.getElementById("play");
                // playElement.style.display="none";
            }
            else{
                // let pauseElement = document.getElementById("pause");
                // pauseElement.style.display="none";
            }
        })();
        function play(){
            i = setInterval(nextState, 1000);
            localStorage.setItem("playing","true");
            console.log;
        }
        function pause(){
            localStorage.removeItem("playing");
            clearInterval(i);
        };
    </script>
</head>

<body>

<div class="header">

    <h1 th:text="|Terrarium: day ${day}|"></h1>
    <a th:href="@{/terrarium/previousDay}" title="Go to previous day"><img th:src="@{/images/previousDay.png}" alt="Next day"></a>
    <a th:href="@{/terrarium/previousState}" title="Go to previous state"><img th:src="@{/images/previousState.png}" alt="Next state"></a>
    <a id="play" onclick="play()" title="Play"><img th:src="@{/images/play.png}" alt="Play"></a>
    <a id="pause" onclick="pause()" title="Pause"><img th:src="@{/images/pause.png}" alt="Pause" ></a>
    <a th:href="@{/terrarium/nextState}" id="nextState" title="Go to next state"><img th:src="@{/images/nextState.png}" alt="Next state"></a>
    <a th:href="@{/terrarium/nextDay}" title="Go to next day"><img th:src="@{/images/nextDay.png}" alt="Next day"></a>
    <a th:href="@{/terrarium/reset}" title="Reset"><img th:src="@{/images/reset.png}" alt="Reset"></a>
    <br><br>

</div>


<div th:replace="~{fragments::playingfield}"></div>


</body>

</html>