
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Numbers of Organisms</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div>
    <form th:object="${userVariablesForm}" method="post" th:action="@{/terrarium}">
        <div>
            <label>Number of carnivores:</label>
            <div class="styled-select blue">
                <select th:field="*{numCarnivores}">
                    <option th:each="i : ${#numbers.sequence(T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 - 1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 + 2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of herbivores:</label>
            <div class="styled-select blue">
                <select th:field="*{numHerbivores}">
                    <option th:each="i : ${#numbers.sequence(T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 - 1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 + 2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of omnivores:</label>
            <div class="styled-select blue">
                <select th:field="*{numOmnivores}">
                    <option th:each="i : ${#numbers.sequence(T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 - 1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 + 2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of plants:</label>
            <div class="styled-select blue">
                <select th:field="*{numPlants}">
                    <option th:each="i : ${#numbers.sequence(T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 - 1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 + 2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of plants per day:</label>
            <div class="styled-select blue">
                <select th:field="*{numPlantsPerDay}">
                    <option th:each="i : ${#numbers.sequence(T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize() / 2 + 2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <input type="submit" value="Load Terrarium">
    </form>
</div>
</body>
</html>