<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Numbers of Organisms</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div>
    <form th:object="${userVariablesForm}" method="post" th:action="@{/terrarium}">
        <label>Number of carnivores
            <span th:errors="*{numCarnivores}"></span>
            <input th:field="*{numCarnivores}" name="numCarnivores">
        </label>
        <label>Number of herbivores
            <span th:errors="*{numHerbivores}"></span>
            <input th:field="*{numHerbivores}" name="numHerbivores">
        </label>
        <label>Number of omnivores
            <span th:errors="*{numOmnivores}"></span>
            <input th:field="*{numOmnivores}" name="numOmnivores">
        </label>
        <label>Number of plants
            <span th:errors="*{numPlants}"></span>
            <input th:field="*{numPlants}" name="numPlants">
        </label>
        <input type="submit" value="Load Terrarium">
    </form>
</div>
</body>
</html>