<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Numbers of Organisms</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta name='viewport' content='width=device-width,initial-scale=1'>
</head>
<body>
<div>
    <form th:object="${userVariablesForm}" method="post" th:action="@{/terrarium}">
        <div>
            <label>Number of carnivores: (They fight with omnivores and carnivores of the opposing sex. They love meat.)</label>
            <div class="styled-select blue">
                <select th:field="*{numCarnivores}">
                    <option th:each="i : ${#numbers.sequence(1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize()/2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of herbivores: (Peacefull plant-eaters that breed and want to be left alone.)</label>
            <div class="styled-select blue">
                <select th:field="*{numHerbivores}">
                    <option th:each="i : ${#numbers.sequence(1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize()/2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of omnivores: (They Fight with carnivores and enjoy herbs.)</label>
            <div class="styled-select blue">
                <select th:field="*{numOmnivores}">
                    <option th:each="i : ${#numbers.sequence(1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize()/2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <div>
            <label>Number of plants: (It's green most of the time.)</label>
            <div class="styled-select blue">
                <select th:field="*{numPlants}">
                    <option th:each="i : ${#numbers.sequence(1, T(be.vdab.TerrariumWeb.domain.Terrarium).INSTANCE.getSize()/2)}"
                            th:value="${i}" th:text="${i}"/>
                    </option>
                </select>
            </div>
        </div>
        <input type="submit" value="Load Terrarium">
    </form>
</div>
</body>
</html>