<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dimensions Terrarium</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div>
    <form th:object="${terrariumSizeForm}" method="post" th:action="@{/userVariablesForm}">
        <label>Select a number to determine the size of the terrarium:</label>
        <div class="styled-select blue">
            <select th:field="*{sizeTerrarium}">
                <option th:each="i : ${#numbers.sequence(6, 12)}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>
        <input type="submit" value="Submit Size Terrarium">
    </form>
</div>
</body>
</html>